<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/main.css" />
    <title>Jigsaw Tips and Tricks</title>
  </head>
  <body>
    <div class="navbar">
      <a href="/">HOME</a>
      <a href="/puzzletips/1">PUZZLE TIPS</a>
      <a href="/practicepuzzle">PRACTICE</a>
      <a href="/quiz/1">QUIZ</a>
    </div>
    <div class="content">{% block content %}{% endblock %}</div>
  </body>
</html>
