{% extends "base.html" %} {% block content %}
<h1>Welcome to Jigsaw Puzzle Tips and Tricks!</h1>
<p>
  Always wanted to do a jigsaw puzzle but don’t know where to start? This is
  your perfect opportunity to learn how to complete jigsaw puzzles in just 10
  minutes. I will be showing you steps of doing a puzzle (with an example!).
  You’ll get to test your knowledge at the end of the tutorial!
</p>
<button onclick="location.href='/puzzletips/1'"class="start-button">Let's Start!</button>

{% endblock %}
