{% extends 'base.html' %} {% block title %}Quiz Completion - Jigsaw Puzzle
Guide{% endblock %} {% block content %}
<div id="quiz-completion">
  <h2>
    <img
      src="https://cdn.pixabay.com/photo/2014/04/03/00/38/jigsaw-308909_1280.png"
      alt="Puzzle Piece"
    />
    Quiz Completed!
    <img
      src="https://cdn.pixabay.com/photo/2014/04/03/00/38/jigsaw-308909_1280.png"
      alt="Puzzle Piece"
    />
  </h2>
  <div class="final-score">
    Your Final Score: <span class="score">{{ correct_count }}/4</span>
  </div> <br>
  <p class="congratulations">You’re on the right track to become a puzzle master!</p>
</div>
{% endblock %}
